.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 36px;

  @media (width >= 1024px) {
    flex-wrap: nowrap;
  }
}

.label {
  cursor: pointer;
  width: fit-content;
  margin: 0 0 5px;
}

.search {
  flex: 0 0 100%;
  margin-bottom: 15px;

  @media (width >= 1024px) {
    flex: 0 0 299px;
    margin-bottom: 0;
  }
}

.btn {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 10px 20px;

  color: var(--color-light-100);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus {
  pointer-events: none;
  opacity: 0.7;
  background-color: var(--color-dark-300);
}

.searchBtn {
  background-color: var(--color-info-500);
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--color-info-700);
}

.resetBtn {
  background-color: var(--color-warning-300);
}

.resetBtn:hover,
.resetBtn:focus {
  background-color: var(--color-warning-500);
}
