html {
  box-sizing: border-box;
  height: 100%;

  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
} // ?

body {
  height: 100%;
  margin: 0;
  padding: 15px 20px 13px 30px;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1086px;
  margin: 0 auto;
  padding: 33px 40px 36px;
  color: var(--color-dark-900);
}
